/* -------------------------------------- */
/* CSS Reset */
/* -------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

/* Removes underline from <Link> tags */
a {
  text-decoration: none;
  color: black;
}

/* -------------------------------------- */
/* Page Background */
/* -------------------------------------- */

body {
  background-color: rgb(43, 44, 40);
  margin-bottom: 20px;
}

/* -------------------------------------- */
/* Navbar */
/* -------------------------------------- */

#navbar {
  margin: 20px auto;
  flex: 1;
}

#navbar-title {
  font-size: 30px;
}

#nt-text {
  color: black;
  text-decoration: none;
}

#navbar-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

#navbar-menu {
  display: flex;
  gap: 4px;
  font-weight: bold;
  color: rgb(21, 21, 21);
  align-items: center;
  font-size: 18px;
}

.nb-menu-item {
  color: rgb(31, 149, 90);
  text-decoration: none;
  padding: 4px 8px;
  margin-right: 4px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.nb-menu-item:hover {
  background-color: rgb(31, 149, 90);
  color: white;
}

.navbar-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-username {
  font-size: 18px;
}

/* -------------------------------------- */
/* Login and Registration Page */
/* -------------------------------------- */

#login-reg-page {
  flex: 1;
}

#lr-bottom {
  padding: 50px 0;
}

#lr-forms {
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
}

.lr-form label {
  padding-right: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}

.lr-form input {
  padding: 2px;
}

.lr-form td {
  padding-bottom: 5px;
}

.lr-submit {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.lr-errors {
  color: rgb(195, 27, 27);
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

.lr-errors > * {
  margin-bottom: 2px;
}

/* -------------------------------------- */
/* Display Search Page */
/* -------------------------------------- */

#display-filters {
  flex: 1;
  font-size: 14px;
  position: sticky;
  top: 20px;
}

#display-search > * {
  margin-bottom: 10px;
}

#display-search-movie {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

#display-search-input {
  width: 98%;
  text-align: center;
}

.display-search-btn {
  font-size: 12px;
  margin: 0 auto;
}

#display-defaults {
  text-align: center;
  font-size: 16px;
}

#display-defaults > * {
  margin-bottom: 6px;
}

.default-search {
  color: rgb(31, 149, 90);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
  padding: 2px;
  user-select: none;
}

.default-search:hover {
  background-color: rgb(31, 149, 90);
  color: white;
}

#display-content {
  flex: 4;
}

/* -------------------------------------- */
/* Movie Info */
/* -------------------------------------- */

.movie-info {
  display: flex;
  gap: 12px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.movie-info:first-of-type {
  padding-top: 0;
}

.movie-info:last-of-type {
  padding-bottom: 0;
  border: none;
}

.movie-poster {
  height: 120px;
  border: 1px solid rgb(54, 48, 32);
}

.movie-poster:hover {
  border: 1px solid rgb(31, 149, 90);
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(54, 48, 32);
}

.movie-title:hover {
  text-decoration: underline;
}

.movie-details {
  font-size: 12px;
  margin-top: 3px;
}

.movie-details span {
  color: rgb(214, 214, 214);
}

.movie-description {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
    line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* -------------------------------------- */
/* Movie Details Page */
/* -------------------------------------- */

#movie-details {
  flex: 1;
}

#md-details {
  display: flex;
  gap: 10px;
}

#md-left {
  flex: 1.25;
}

.md-poster {
  width: 100%;
  border: 2px solid rgb(54, 48, 32);
  margin-bottom: 20px;
}

.md-slide-num {
  position: absolute;
  padding: 4px 5px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-shadow: 1px 0 black, -1px 0 black,
    0 1px black, 0 -1px black;
}

.md-slide img {
  border: 2px solid rgb(54, 48, 32);
  width: 100%;
}

#md-slide-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prev, .next {
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  opacity: 50%;
}

#md-right {
  flex: 3;
}

#md-right > * {
  margin-bottom: 10px;
}

#md-title-log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

#md-yrr {
  display: flex;
  font-size: 18px;
  gap: 5px;
}

.md-genre {
  padding: 2px 6px;
  border-radius: 20px;
  background-color: rgb(31, 149, 90);
  color: white;
  transition: 0.2s ease;
}

.md-title {
  color: rgb(54, 48, 32);
}

.md-span {
  color: rgb(169, 169, 169);
}

#md-genres-rating {
  display: flex;
}

.md-crew {
  display: flex;
  gap: 5px;
}

#md-cast-list {
  column-count: 2;
  margin-top: 7px;
  margin-left: 20px;
}

#md-cast-list > * {
  margin-bottom: 7px;
}

.md-cast-member {
  display: flex;
  align-items: center;
  gap: 8px;
}

.md-cast-photo {
  object-fit: cover;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid rgb(54, 48, 32);
}

#md-cast-title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

/* -------------------------------------- */
/* Movie Details Reviews */
/* -------------------------------------- */

#md-reviews {
  margin: 0 30px 10px;
  padding-top: 10px;
  border-top: 2px solid rgb(54, 48, 32);
}

#md-reviews-header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

#md-reviews > * {
  margin-bottom: 20px;
}

.md-one-review {
  margin: 0 20px;
  border: 2px solid rgb(54, 48, 32);
  border-radius: 4px;
}

.md-review-top {
  padding: 4px;
  display: flex;
  font-size: 20px;
  align-items: flex-end;
  gap: 7px;
}

.md-review-username {
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-left: 6px;
}

.md-watched {
  font-weight: normal;
}

.md-movie-link:hover {
  text-decoration: underline;
}

.md-review-bottom {
  display: flex;
  gap: 10px;
}

.md-review-poster {
  border: 1px solid rgb(54, 48, 32);
  height: 120px;
}

.md-review-poster:hover {
  border: 1px solid rgb(31, 149, 90);
}

.md-review-title {
  color: rgb(54, 48, 32);
  font-size: 20px;
}

.md-review-username:hover {
  text-decoration: underline;
}

/* -------------------------------------- */
/* Full Cast and Crew Page */
/* -------------------------------------- */

#cc-page {
  flex: 1;
}

#cc-movie-info {
  display: flex;
  gap: 10px;
}

.cc-poster {
  height: 200px;
  border: 2px solid rgb(54, 48, 32);
  margin-bottom: 10px;
}

#cc-movie-title {
  font-size: 30px;
  margin-bottom: 10px;
}

#cc-movie-description {
  margin-bottom: 20px;
}

#cc-back {
  display: inline;
}

#cc-lists {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-left: 30px;
}

.cc-list-type {
  font-size: 20px;
  margin-bottom: 15px;
}

.cc-member {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;
}

.cc-photo {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid rgb(54, 48, 32);
}

/* -------------------------------------- */
/* All Users Page */
/* -------------------------------------- */

#all-users {
  flex: 1;
}

.al-user {
  margin-bottom: 20px;
}

.al-user:last-of-type {
  margin-bottom: 0;
}

.al-outline {
  border: 3px solid rgb(54, 48, 32);
}

.al-username {
  font-size: 22px;
  color: rgb(54, 48, 32);
}

.al-user-bottom {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.al-real-name {
  font-weight: bold;
  font-size: 20px;
}

.al-username:hover {
  text-decoration: underline;
}

.al-view {
  color: rgb(31, 149, 90);
  font-weight: bold;
  font-size: 18px;
  padding: 4px 6px;
  cursor: pointer;
}

.al-view:hover {
  background-color: rgb(31, 149, 90);
  color: white;
  border-radius: 5px;
  transition: 0.2s;
}

/* -------------------------------------- */
/* One User Page */
/* -------------------------------------- */

#one-user {
  flex: 1;
}

#ou-bottom {
  display: flex;
  gap: 20px;
}

#ou-left-side {
  flex: 1;
}

#ou-username {
  font-size: 28px;
  color: rgb(54, 48, 32);
  font-weight: bold;
  margin-bottom: 5px;
}

#ou-info {
  margin-left: 8px;
}

#ou-info > * {
  margin-bottom: 5px;
}

#ou-info:last-child {
  margin-bottom: 0;
}

#ou-info-tag {
  font-size: 22px;
  font-weight: bold;
}

#ou-wl {
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
}

#ou-watchlist {
  list-style: none;
}

#ou-reviews {
  flex: 3;
}

.ou-one-review {
  border-bottom: 1px solid rgb(155, 155, 155);
  padding: 15px 0;
}

.ou-one-review:first-of-type {
  padding: 0 0 15px 0;
}

.ou-one-review:last-of-type {
  border-bottom: none;
  padding: 15px 0 0 0;
}

.ou-review-top {
  margin-bottom: 4px;
}

.ou-review-username {
  font-size: 18px;
}

.ou-review-link:hover {
  text-decoration: underline;
}

.ou-review-bottom {
  display: flex;
  gap: 10px;
}

.ou-review-poster {
  height: 100px;
  border: 1px solid rgb(54, 48, 32);
}

.ou-review-poster:hover {
  border: 1px solid rgb(31, 149, 90);
}

.ou-review-title {
  font-size: 20px;
  font-weight: bold;
}

/* -------------------------------------- */
/* Utilities */
/* -------------------------------------- */

.section {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  gap: 20px;
  align-items: flex-start;
}

.btn {
  background-color: white;
  font-weight: bold;
  padding: 4px 8px;
  color: black;
  cursor: pointer;
  border: 2px solid black;
  font-size: 15px;
  box-shadow: 2px 2px  rgb(22, 22, 22);
  transition: 0.2s;
}

.btn:hover {
  background-color: rgb(31, 149, 90);
}

.btn:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.block-outline {
  border: 4px solid rgb(21, 21, 21);
}

.block-top {
  background-color: rgb(242, 197, 124);
  padding-left: 5px;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.block-bottom {
  padding: 7px;
  background-color: white;
}

.bold {
  font-weight: bold;
}

.br {
  color: rgb(214, 214, 214);
}

.flx { 
  display: flex;
}