/* CSS Reset */

* {
  margin: 0;
  padding: 0;
}


/* Page Background */

body {
  background-color: rgb(98,146,146);
  margin-bottom: 20px;
}


/* Navbar */

#navbar {
  width: 1000px;
  margin: 20px auto;
  flex: 1;
}

#navbar-title {
  font-size: 30px;
}

#nt-text {
  color: black;
  text-decoration: none;
}

#navbar-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

#movie-search-form {
  display: flex;
  gap: 20px;
}

#movie-search-form input {
  padding-left: 3px;
  width: 350px;
}

#navbar-buttons {
  display: flex;
  gap: 20px;
}


/* Display Search Page */

#display-filters {
  flex: 1;
  font-size: 14px;
}

.filter {
  margin-bottom: 10px;
}

.filter-name {
  font-weight: bold;
}

.filter-input {
  
}

#release-year-block input {
  width: 60px;
}

.search-for-radio input, label {
  cursor: pointer;
}

#display-content {
  flex: 4;
}

/* Movie Details Page */

#details-block {
  flex: 1;
}


/* Movie Info */

.movie-info {
  display: flex;
  gap: 12px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(155, 155, 155);
}

.movie-info:first-of-type {
  padding-top: 0;
}

.movie-info:last-of-type {
  padding-bottom: 0;
  border: none;
}

.movie-poster {
  height: 120px;
}

.movie-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(54, 48, 32);
}

.movie-title:hover {
  text-decoration: underline;
}

.movie-details {
  font-size: 12px;
  margin-top: 3px;
}

.movie-details span {
  color: rgb(214, 214, 214);
}

.movie-description {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
    line-clamp: 3;
  -webkit-box-orient: vertical;
}


/* Utilities */

.section {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  gap: 20px;
  align-items: flex-start;
}

.btn {
  background-color: white;
  padding: 4px 8px;
  color: black;
  cursor: pointer;
  border: 2px solid black;
  font-size: 15px;
  box-shadow: 2px 2px  rgb(22, 22, 22);
}

.btn:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.block-outline {
  border: 4px solid rgb(54, 48, 32);
}

.block-top {
  background-color: rgb(242, 197, 124);
  padding-left: 5px;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.block-bottom {
  padding: 7px;
  background-color: white;
}

.filter-btn {
  font-size: 12px;
}